<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Supay.Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Supay.Bot.Properties.Settings>
            <setting name="DailyUpdateTime" serializeAs="String">
                <value>06:00:00</value>
            </setting>
            <setting name="Administrators" serializeAs="String">
                <value/>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>irc.swiftirc.net</value>
            </setting>
            <setting name="Nick" serializeAs="String">
                <value>SupayBot</value>
            </setting>
            <setting name="Channels" serializeAs="String">
                <value>#howdy</value>
            </setting>
            <setting name="Perform" serializeAs="String">
                <value>MODE SupayBot +B</value>
            </setting>
        </Supay.Bot.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RScriptLookupBinding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rscript.org/lookup.php?soap" binding="basicHttpBinding"
                bindingConfiguration="RScriptLookupBinding" contract="RuneScript.RScriptLookupPortType"
                name="RScriptLookupPort" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
