<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Supay.Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Supay.Bot.Properties.Settings>
            <setting name="DailyUpdateTime" serializeAs="String">
                <value>06:00:00</value>
            </setting>
            <setting name="Administrators" serializeAs="String">
                <value/>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>irc.swiftirc.net</value>
            </setting>
            <setting name="Nick" serializeAs="String">
                <value>SupayBot</value>
            </setting>
            <setting name="Channels" serializeAs="String">
                <value>#howdy</value>
            </setting>
            <setting name="Perform" serializeAs="String">
                <value>MODE SupayBot +B</value>
            </setting>
        </Supay.Bot.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
